In [51]:
import pandas as pd

In [53]:
df = pd.read_csv("./Input/clean_df_companies.csv")

In [54]:
df.head()

,Unnamed: 0,_id,name,permalink,crunchbase_url,homepage_url,blog_url,blog_feed_url,twitter_username,category_code,...,description.1,address1,address2,zip_code,city,state_code,country_code,latitude,longitude,Tech/Other
0,0,52cdef7c4bab8bd675297d90,Postini,postini,http://www.crunchbase.com/company/postini,http://postini.com,NaN,NaN,NaN,web,...,NaN,"959 Skyway Road, Suite 200",NaN,94070,San Carlos,CA,USA,37.506885,-122.247573,Tech
1,1,52cdef7c4bab8bd675297d91,Geni,geni,http://www.crunchbase.com/company/geni,http://www.geni.com,http://blog.geni.com,http://blog.geni.com/index.rdf,geni,web,...,Headquarters,9229 W. Sunset Blvd.,NaN,90069,West Hollywood,CA,USA,34.090368,-118.393064,Tech
2,2,52cdef7c4bab8bd675297d92,Flektor,flektor,http://www.crunchbase.com/company/flektor,http://www.flektor.com,http://www.flektor-blog.com,http://www.flektor-blog.com/video_editing_soft...,NaN,games_video,...,NaN,"8536 National Blvd, Suite A",NaN,90232,Culver City,CA,USA,34.025958,-118.379768,Tech
3,3,52cdef7c4bab8bd675297d93,Fox Interactive Media,fox-interactive-media,http://www.crunchbase.com/company/fox-interact...,http://www.newscorp.com,NaN,NaN,twitterapi,web,...,NaN,407 N Maple Dr,NaN,90210,Beverly Hills,CA,USA,34.076179,-118.394170,Tech
4,4,52cdef7c4bab8bd675297d8d,Digg,digg,http://www.crunchbase.com/company/digg,http://www.digg.com,http://blog.digg.com/,http://blog.digg.com/?feed=rss2,digg,news,...,NaN,135 Mississippi St,NaN,94107,San Francisco,CA,USA,37.764726,-122.394523,Other

In [57]:
a = (df.latitude[0], df.longitude[0])
d

(37.506885, -122.247573)

In [58]:
df.coordinates =

37.506885