In [4]:
import pandas as pd
import folium
from folium import Marker

In [2]:
df= pd.read_csv("../input/df_austin.csv")

In [10]:
df.head()

,Unnamed: 0,Unnamed: 0.1,_id,name,permalink,crunchbase_url,homepage_url,blog_url,blog_feed_url,twitter_username,...,latitude,longitude,Tech/Other,Closest_Airport,Closest_oldCo,Closest_Starbucks,Closest_techCo,Coord_Closest_Airport,Coord_Closest_Starbucks,N_techCos_Around
0,1,890,52cdef7c4bab8bd67529809a,Shangby,shangby,http://www.crunchbase.com/company/shangby,http://www.shangby.com,http://www.shangby.com/site/news_letter,NaN,NaN,...,30.288653,-97.822884,Tech,"[{'_id': ObjectId('5dd675f33b0eaf5b22d77d95'),...",[],"[{'_id': ObjectId('5dd67f43e1d2f64cdaf44024'),...","[{'_id': '52cdef7c4bab8bd67529809a', 'Unnamed:...","[-97.6668367646, 30.2021081921]","[-97.8251037598, 30.2924041748]",2
1,3,1490,52cdef7c4bab8bd6752982f7,CyberRentals,cyberrentals,http://www.crunchbase.com/company/cyberrentals,http://www.cyberrentals.com,NaN,NaN,NaN,...,30.242865,-97.798398,Tech,"[{'_id': ObjectId('5dd675f33b0eaf5b22d77d95'),...",[],"[{'_id': ObjectId('5dd67f43e1d2f64cdaf42d9b'),...","[{'_id': '52cdef7c4bab8bd6752982f7', 'Unnamed:...","[-97.6668367646, 30.2021081921]","[-97.7925491333, 30.2376747131]",2
2,4,1492,52cdef7c4bab8bd6752982f9,TripHomes,triphomes,http://www.crunchbase.com/company/triphomes,http://www.HomeAway.com,NaN,NaN,NaN,...,30.242865,-97.798398,Other,"[{'_id': ObjectId('5dd675f33b0eaf5b22d77d95'),...",[],"[{'_id': ObjectId('5dd67f43e1d2f64cdaf42d9b'),...","[{'_id': '52cdef7c4bab8bd6752982f7', 'Unnamed:...","[-97.6668367646, 30.2021081921]","[-97.7925491333, 30.2376747131]",2
3,5,1688,52cdef7c4bab8bd6752983ba,MessageOne,messageone,http://www.crunchbase.com/company/messageone,NaN,NaN,NaN,NaN,...,30.405197,-97.745673,Other,"[{'_id': ObjectId('5dd675f33b0eaf5b22d77d95'),...",[],"[{'_id': ObjectId('5dd67f43e1d2f64cdaf42990'),...","[{'_id': '52cdef7c4bab8bd6752983ba', 'Unnamed:...","[-97.6668367646, 30.2021081921]","[-97.7469024658, 30.401922226]",1
4,7,2571,52cdef7c4bab8bd67529873f,Absolute Software,absolute-software,http://www.crunchbase.com/company/absolute-sof...,http://www.absolute.com,http://blog.absolute.com,http://blog.absolute.com/feed/atom/,absolutecorp,...,30.265006,-97.746608,Tech,"[{'_id': ObjectId('5dd675f33b0eaf5b22d77d95'),...",[],"[{'_id': ObjectId('5dd67f43e1d2f64cdaf44588'),...","[{'_id': '52cdef7f4bab8bd67529c39e', 'Unnamed:...","[-97.6668367646, 30.2021081921]","[-97.7464447021, 30.2658748627]",2

In [8]:
def embed_map(m, file_name):
    from IPython.display import IFrame
    m.save(file_name)
    return IFrame(file_name, width='100%', height='500px')

In [13]:
m = folium.Map(location=[-97.6668367646,30.2021081921], zoom_start=11)
# HeatMap(data=releases[['LATITUDE', 'LONGITUDE']], radius=15).add_to(m)
for idx, row in df.iterrows():
    Marker([row['latitude'], row['longitude']], icon=folium.Icon(icon='info-sign',color='blue')).add_to(m)
    Marker(-[row['Coord_Closest_Airport'][0], [row['Coord_Closest_Airport'][1]], icon=folium.Icon(icon='cloud',color='red')).add_to(m)
# Plot each polygon on the map
# GeoJson(two_mile_buffer.to_crs(epsg=4326)).add_to(m)

# Show the map
embed_map(m, 'm1.html')

SyntaxError: invalid syntax (<ipython-input-13-12c463329747>, line 5)